
body {
	font-family:"arial", sans serif;
	background-color: white;
}

#game div{
	float: left;
}

.card {
	border-radius: 0.3em;
	width: 3em;
	height: 3em;
	background-color:#d7a2b9;
	font-size: 2em;
	margin:0.2em;
	text-align: center;
	vertical-align: middle;
	color:white;
	
}

.hidden {
	background-color: yellow;
}

.taken {
	background-color: red;
	
}

.visible {
	background-color: silver;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color: #303030;
	color: white;	
}


footer div{
	float: left;
	width: 20%;
	text-align: center;
	padding: 2%;
	}
	
footer div p {
	font-size: 2em;
	text-align: center;
	
}


h3 {
	color: #d7a2b9;
	text-align: center;
}

h2 {
	text-align: center;
	color: #303030;
	
}