
@media screen and (min-width:16em) {

body canvas{
  width: 100%;
 height: 100%;
}
}

@media screen and (min-width:35.625em) {

body canvas{
 width: 100%;
 height: 100%;
}
}

@media screen and (min-width:48em) {

body canvas{
width: 100%;
height: 100%;
}
}


@media screen and (min-width:64em) {

body canvas{
width: 100%;
height: 100%;
max-width: 900px;


}
}
